<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Easy Manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../css/base.css" rel="stylesheet" type="text/css">
    <link href="../../../css/base.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
  </head>

  <body>
    <!-- Navegacion -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Easy Manager</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <% if (role == 'administrador' ||
            role == 'sub_administrador' ||
            role == 'almacen' ) { %>
            <li class="nav-item active">
              <a class="nav-link" href="http://localhost:3000/addProduct/0">Productos</a>
            </li>
          <% } %>
          <% if (role == 'administrador' ||
            role == 'sub_administrador') { %>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3000/addUser/0">Usuarios</a>
            </li>
          <% } %> 
          <% if (role == 'empleado') { %>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3000/sells/0">Vender</a>
            </li>
          <% } %> 
          <% if (role == 'administrador' ||
            role == 'sub_administrador') { %>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3000/viewSells/0">Ventas</a>
            </li>
          <% } %>
          <% if (role == 'administrador' ||
            role == 'sub_administrador' ||
            role == 'almacen' ) { %>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3000/seeModifications/0">Modificaciones</a>
            </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/logout">Cerrar session</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="contenedor espacio">
      <!-- Formulario -->
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name">Nombre:</label>
            <input id="name" name="name" class="form-control" type="text">
          </div>
          <div class="form-group col-md-6">
            <label for="price">Precio:</label>
            <input id="price" name="price" class="form-control" type="number" min="1">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="stock">Stock:</label>
            <input id="stock" name="stock" class="form-control" type="number" min="1">
          </div>
          <div class="form-group col-md-6">
            <label for="categories">Añadir categorias:</label>
            <div class="input-group">
              <input id="categories" name="categories" class="form-control" type="text">
            </div>
          </div>
        </div>
        <!-- Boton -->
        <div class="form-group">
          <input class="btn btn-primary col-md-12" id="crear" type="button" value="Crear">
        </div>
      </form>

      <!--Busqueda-->
      <form>
        <div class="form-row">
          <div class="form-group col-md-4">
            <div class="input-group">
              <input id="nameproduct" name="nameproduct" class="form-control" type="text" placeholder="Nombre">
            </div>
          </div>
          <div class="form-group col-md-4">
            <div class="input-group">
              <input id="categoria" name="categoria" class="form-control" type="text" placeholder="Categoria">
            </div>
          </div>
          <div class="form-group col-md-4">
            <input class="btn btn-primary col-md-12" type="button" id="buscar" value="Busqueda">
          </div>
        </div>
      </form>

      <!-- tabla de datos -->
      <table class="table espacio">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Categorias</th>
            <th scope="col"></th>
          </tr>
        <thead>
        <tbody>
          <% products.forEach(function(item){ %>
            <tr>
              <th scope='row'><%= item.name %></th>
              <th scope='row'><%= item.price %></th>
              <th scope='row'><%= item.stock %></th>
              <th scope='row'>
                <% item.categories.forEach(function(data){ %>
                  <%= data %>
                <% }) %>
              </th>
              <th scope='row'>
                <input class="btn btn-primary" type="button" value="Editar"onclick="editarProducts('<%= JSON.stringify(item) %>')">
              </th>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <div class='pagination'>
        <% for(var i=0; i < totalResults; i++) { %>
          <% if (filtro1 != false || filtro2 != false) { %>
            <a href="../../../../addProduct/<%= i %>/<%= filtro1 %>/<%= filtro2 %>"><%= i %></a>
          <% } else { %>
            <a href="../../addProduct/<%= i %>"><%= i %></a>
          <% } %>
        <% } %>
      </div>
    </div>

    <!-- Modal de editar -->
    <div class="modal fade" id="modalProduct" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Contenido del modal -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Editar producto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form>
            <div class="modal-body">
              <div class="form-group">
                <input id="prod_id" name="prod_id" class="form-control" type="text" style="display: none;">
              </div>
              <!-- Formulario -->
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="prod_name">Nombre:</label>
                  <input id="prod_name" name="prod_name" class="form-control" type="text" readonly="true">
                </div>
                <div class="form-group col-md-6">
                  <label for="prod_categs">Categorias:</label>
                  <input id="prod_categs" name="prod_categs" class="form-control" type="text">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="prod_stock">Stock:</label>
                  <input id="prod_stock" name="prod_stock" class="form-control" type="number">
                </div>
                <div class="form-group col-md-6">
                  <label for="prod_price">Precio:</label>
                  <input id="prod_price" name="prod_price" class="form-control" type="number">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <input class="btn btn-primary" name="save_edit_prod" id="save_edit_prod" type="button" value="Guardar">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
  </body>
  <script>
    $(document).ready(function(){

      $("#buscar").click(function(){
        let name = $("#nameproduct").val();
        let categoria = $("#categoria").val();

        if(name != '' && categoria == ''){
          // solo nombre
          window.location.href = 'http://localhost:3000/addProduct/0/'+name+'/null'
        } else if(name == '' && categoria != ''){
          // solo categoria
          window.location.href = 'http://localhost:3000/addProduct/0/null/'+categoria
        } else if(name != '' && categoria != '') {
          // ambas
          window.location.href = 'http://localhost:3000/addProduct/0/'+name+'/'+categoria
        } else {
          window.location.href = 'http://localhost:3000/addProduct/0/'
        }
      });

      $("#save_edit_prod").click(function(){
        let modalProduct = $("#modalProduct").val();
        let prod_id = $("#prod_id").val();
        let prod_categs = $("#prod_categs").val();
        let prod_name = $("#prod_name").val();
        let prod_stock = $("#prod_stock").val();
        let prod_price = $("#prod_price").val();

        let fetch_data = {
          name: prod_name,
          stock: parseInt(prod_stock),
          price: parseInt(prod_price),
          categories: prod_categs.split(',')
        }

        $.post("http://localhost:3000/editProduct/"+prod_id, fetch_data, function(data){
          if(data === 'success'){
            location.reload()
          } else {
            alert("Ocurrio un erro intentalo mas tarde")
          }
        });
      });

      $("#crear").click(function(){
        let name = $("#name").val();
        let price = $("#price").val();
        let stock = $("#stock").val();
        let categories = $("#categories").val();

        let fetch_data = {
          name: name,
          stock: parseInt(stock),
          price: parseInt(price),
          categories: categories.split(',')
        }

        $.post("http://localhost:3000/addProduct/", fetch_data, function(data){
          if(data === 'success'){
            location.reload()
          } else {
            alert("Ocurrio un erro intentalo mas tarde")
          }
        });
      });
    });

    function editarProducts(item) {
      let base = JSON.parse(item)
      let categ = ''
      for(let x = 0; base.categories.length > x; x++){
        if(x == 0){
          categ = base.categories[x]
        } else {
          categ = categ +","+ base.categories[x]
        }
      }

      $("#modalProduct").modal("show");
      $("#prod_id").val(base._id);
      $("#prod_categs").val(categ);
      $("#prod_name").val(base.name);
      $("#prod_stock").val(base.stock);
      $("#prod_price").val(base.price);
    };
  </script>
</html>