<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Easy Manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../css/base.css" rel="stylesheet" type="text/css">
    <link href="../../../css/base.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
  </head>

  <body>
    <!-- Navegacion -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Easy Manager</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <% if (role == 'administrador' ||
            role == 'sub_administrador' ||
            role == 'almacen' ) { %>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3000/addProduct/0">Productos</a>
            </li>
          <% } %>
          <% if (role == 'administrador' ||
            role == 'sub_administrador') { %>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3000/addUser/0">Usuarios</a>
            </li>
          <% } %> 
          <% if (role == 'empleado') { %>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3000/sells/0">Vender</a>
            </li>
          <% } %> 
          <% if (role == 'administrador' ||
            role == 'sub_administrador') { %>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:3000/viewSells/0">Ventas</a>
            </li>
          <% } %>
          <% if (role == 'administrador' ||
            role == 'sub_administrador' ||
            role == 'almacen' ) { %>
            <li class="nav-item active">
              <a class="nav-link" href="http://localhost:3000/seeModifications/0">Modificaciones</a>
            </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/logout">Cerrar session</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="contenedor espacio">
      <!--Busqueda-->
      <form>
        <div class="form-row">
          <div class="form-group col-md-4">
            <div class="input-group">
              <input id="nameproduct" name="nameproduct" class="form-control" type="text" placeholder="Nombre">
            </div>
          </div>
          <div class="form-group col-md-4">
            <div class="input-group">
              <input id="categoria" name="categoria" class="form-control" type="text" placeholder="Categoria">
            </div>
          </div>
          <div class="form-group col-md-4">
            <input class="btn btn-primary col-md-12" type="button" id="buscar" value="Busqueda">
          </div>
        </div>
      </form>

      <!-- tabla de datos -->
      <table class="table espacio">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Usuario</th>
            <th scope="col">Precio</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Categorias</th>
            <th scope="col">Fecha de modificacion</th>
          </tr>
        <thead>
        <tbody>
          <% modif.forEach(function(item){ %>
            <tr>
              <th scope='row'><%= item.product.name %></th>
              <th scope='row'><%= item.employe.username %></th>
              <th scope='row'><%= item.modification.price %></th>
              <th scope='row'><%= item.modification.stock %></th>
              <th scope='row'>
                <% item.modification.categories.forEach(function(data){ %>
                  <%= data %>
                <% }) %>
              </th>
              <th scope='row'><%= item.date %></th>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <div class='pagination'>
        <% for(var i=0; i < totalResults; i++) { %>
          <% if (filtro1 != false || filtro2 != false) { %>
            <a href="../../../../seeModifications/<%= i %>/<%= filtro1 %>/<%= filtro2 %>"><%= i %></a>
          <% } else { %>
            <a href="../../seeModifications/<%= i %>"><%= i %></a>
          <% } %>
        <% } %>
      </div>
    </div>
    
  </body>
  <script>
    $(document).ready(function(){
      $("#buscar").click(function(){
        let name = $("#nameproduct").val();
        let categoria = $("#categoria").val();

        if(name != '' && categoria == ''){
          // solo nombre
          window.location.href = 'http://localhost:3000/seeModifications/0/'+name+'/null'
        } else if(name == '' && categoria != ''){
          // solo categoria
          window.location.href = 'http://localhost:3000/seeModifications/0/null/'+categoria
        } else if(name != '' && categoria != '') {
          // ambas
          window.location.href = 'http://localhost:3000/seeModifications/0/'+name+'/'+categoria
        } else {
          window.location.href = 'http://localhost:3000/seeModifications/0/'
        }
      })
    })
  </script>
</html>