<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Easy Manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="../css/base.css" rel="stylesheet" type="text/css">
    <link href="../../../css/base.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.min.js"></script>
  </head>

  <body>
    <div class="contenedor espacio">
      <!--Busqueda-->
      <form>
        <div class="form-row">
          <div class="form-group col-md-4">
            <div class="input-group">
              <input id="nameproduct" name="nameproduct" class="form-control" type="text" placeholder="Nombre">
            </div>
          </div>
          <div class="form-group col-md-4">
            <div class="input-group">
              <input id="categoria" name="categoria" class="form-control" type="text" placeholder="Categoria">
            </div>
          </div>
          <div class="form-group col-md-4">
            <input class="btn btn-primary col-md-12" type="button" id="buscar" value="Busqueda">
          </div>
        </div>
      </form>

      <!-- tabla de datos -->
      <table class="table espacio">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
            <th scope="col">Categorias</th>
            <th scope="col">Cantidad</th>
            <th scope="col">
              <button class="btn btn-primary" id="cart" onclick="verCarrito()">
                <i class="fa fa-shopping-cart" id="icon_cart"> 0</i>
              </button>
            </th>
          </tr>
        <thead>
        <tbody>
          <% products.forEach(function(item){ %>
            <tr>
              <th scope='row'><%= item.name %></th>
              <th scope='row'><%= item.price %></th>
              <th scope='row'><%= item.stock %></th>
              <th scope='row'>
                <% item.categories.forEach(function(data){ %>
                  <%= data %>
                <% }) %>
              </th>
              <th scope='row'>
                <input id="field_<%= item._id %>" class="form-control custominput" type="number" min="1">
              </th>
              <th scope='row'>
                <button class="btn btn-primary" onclick="addProduct('<%= JSON.stringify(item) %>')">+</button>
              </th>
            </tr>
          <% }) %>
        </tbody>
      </table>
      <div class='pagination'>
        <% for(var i=0; i < totalResults; i++) { %>
          <% if (filtro1 != false || filtro2 != false) { %>
            <a href="../../../../sell/<%= i %>/<%= filtro1 %>/<%= filtro2 %>"><%= i %></a>
          <% } else { %>
            <a href="../../sell/<%= i %>"><%= i %></a>
          <% } %>
        <% } %>
      </div>
    </div>

    <div class="modal fade" id="miModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Contenido del modal -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Editar pedido</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="" method="post">
            <div class="modal-body"></div>
            <div class="modal-footer">
              <input class="btn btn-primary" name="save_order" id="save_order" type="button" value="Guardar">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    
  </body>
  <script>
    // carrito
    var carrito = []

    //storage 
    var storage = JSON.parse(localStorage.getItem("carrito"))
    console.log(storage)
    if (storage != null){
      var carrito = storage
      var divText = document.getElementById('icon_cart');
      divText.textContent = " "+carrito.length;
    }

    //anadir algo al carrito
    function addProduct(data){
      let fullData = JSON.parse(data)

      var found = false;
      var field_id = "field_"+fullData._id;
      var cant = document.getElementById(field_id).value;
      for(var i = 0; i < carrito.length; i++){
        if(carrito[i]._id == fullData._id){
          found = true;
        }
      }
      
      if(cant <= fullData.stock && found == false){
        var temp = {
          product_data: fullData._id,
          name: fullData.name,
          quantity: cant,
          price: fullData.price,
          subtotal: cant * fullData.price
        }
        carrito.push(temp)
        var divText = document.getElementById('icon_cart');
        divText.textContent = " "+carrito.length;
        // Store
        localStorage.setItem("carrito", JSON.stringify(carrito));
      } else if(found == false) {
        alert("Stock insuficiente")
      } else {
        alert("Ya tienes el producto en el carrito")
      }
    }

    function actualizarCantidad(index){
      var field = "cant_"+index;
      var field_sub = "sub_"+index;
      var newCant = document.getElementById(field).value;
      if(newCant <= carrito[index].stock){
        carrito[index].quantity = newCant;
        carrito[index].subtotal = newCant * carrito[index].price;
        document.getElementById(field_sub).value = newCant * carrito[index].price;
        //actualizar el total
        var total = 0;
        for(var i = 0; i < carrito.length; i++){
          total = total + carrito[index].subtotal;
        }
        localStorage.setItem("carrito", JSON.stringify(carrito));
        document.getElementById("total").value = ""+total;
      } else {
        document.getElementById(field).value = 1;
        alert("Stock insuficiente")
      }
    }

    function doSomething() {
      // Store
      localStorage.setItem("carrito", null);
    }

    function verCarrito(){
      $("#miModal").modal("show");
      printTable();
    }

    function deleteFn(index) {
      carrito.splice(index, 1);
      localStorage.setItem("carrito", JSON.stringify(carrito));
      printTable();
    }

    function printTable(){
      var total = 0;
      var estructura = '<div class="form-row">';
      estructura = estructura + '<div class="form-group col-md-3">';
      estructura = estructura + '<label>Nombre:</label>';
      estructura = estructura + '</div>';
      estructura = estructura + '<div class="form-group col-md-3">';
      estructura = estructura + '<label>Precio:</label>';
      estructura = estructura + '</div>';
      estructura = estructura + '<div class="form-group col-md-2">';
      estructura = estructura + '<label>Cantidad:</label>';
      estructura = estructura + '</div>';
      estructura = estructura + '<div class="form-group col-md-2">';
      estructura = estructura + '<label>Subtotal:</label>';
      estructura = estructura + '</div>';
      estructura = estructura + '<div class="form-group col-md-2"></div>';
      estructura = estructura + '<input class="form-control" style="display: none;" type="text" name="cant_prod" value="'+carrito.length+'" readonly="true">';
      estructura = estructura + '</div>';
      estructura = estructura + '</div>';
      for(var i = 0; i < carrito.length; i++){
        estructura = estructura + '<input id="id_prod_'+i+'" name="id_prod_'+i+'" class="form-control" style="display: none;" type="text" value="'+carrito[i].product_data+'">';
        
        estructura = estructura + '<div class="form-row">';
        estructura = estructura + '<div class="form-group col-md-3">';
        estructura = estructura + '<input class="form-control" type="text" value="'+carrito[i].name+'" readonly="true">';
        estructura = estructura + '</div>';
        estructura = estructura + '<div class="form-group col-md-3">';
        estructura = estructura + '<input class="form-control" type="text" value="'+carrito[i].price+'" readonly="true">';
        estructura = estructura + '</div>';
        estructura = estructura + '<div class="form-group col-md-2">';
        estructura = estructura + '<input class="form-control" onchange="actualizarCantidad('+i+')" id="cant_'+i+'" name="cant_'+i+'" type="number" min="1" value="'+carrito[i].quantity+'">';
        estructura = estructura + '</div>';
        estructura = estructura + '<div class="form-group col-md-2">';
        estructura = estructura + '<input class="form-control" type="text" id="sub_'+i+'" name="sub_'+i+'" value="'+carrito[i].subtotal+'" readonly="true">';
        estructura = estructura + '</div>';
        estructura = estructura + '<div class="form-group col-md-2">';
        estructura = estructura + '<button type="button" class="btn btn-danger" onclick="deleteFn('+i+')">Borrar</button>';
        estructura = estructura + '</div>';
        estructura = estructura + '</div>';
        total = total + carrito[i].subtotal;
      }
      estructura = estructura + '<div class="form-row">';
      estructura = estructura + '<p>Total:</p>';
      estructura = estructura + '<input class="form-control" type="text" id="total" name="total" value="'+total+' $" readonly="true">';
      estructura = estructura + '</div>';
      $("div.modal-body").html(estructura);
    }

    $(document).ready(function(){
      $("#buscar").click(function(){
        let name = $("#nameproduct").val();
        let categoria = $("#categoria").val();

        if(name != '' && categoria == ''){
          // solo nombre
          window.location.href = 'http://localhost:3000/sell/0/'+name+'/null'
        } else if(name == '' && categoria != ''){
          // solo categoria
          window.location.href = 'http://localhost:3000/sell/0/null/'+categoria
        } else if(name != '' && categoria != '') {
          // ambas
          window.location.href = 'http://localhost:3000/sell/0/'+name+'/'+categoria
        } else {
          window.location.href = 'http://localhost:3000/sell/0/'
        }
      })

      // doSomething()
      $("#save_order").click(function(){
        console.log("carrito: ",carrito)
        $.post("http://localhost:3000/sellProducts", {data: carrito}, function(data){
          if(data === 'success'){
            localStorage.setItem("carrito", null);
            location.reload()
          } else {
            alert("Ocurrio un erro intentalo mas tarde")
          }
        });
      })
    })
  </script>
</html>